ul{
	text-align: left;
	margin-left: 1em;
	padding-left: 0.5em;
}

p{
	text-align: left;
	margin: 10px;	
}
.medialink img{
        float:left;
        margin: 5px 5px 5px 5px;
}

li{ float: left; display: block;}

#PlayerContainer-medialink{
	float:left;
}

#playlists-medialink {
	width: 400px;
	float:left;
	overflow: hidden;
}

#playlists-medialink li {
	border-width: 1px 0;
	width: 400px;
	margin: 5px 5px 5px 5px;
}

#playlists-medialink li a {
	display: block;
	font: bold 120% Arial, Helvetica, sans-serif;
	width: 400px;
	height: 35px;
	padding: 5px;
	text-decoration: none;
}

#playlists-medialink img{
	float:left;
	width: 50px;
	height: 35px;
	overflow: hidden;
}

* html #playlists-medialink li a {
	width: 400px;
}

#playlists-medialink li:hover {background: #f6efe2;}
#playlists-medialink li a:hover {color: #000000; background: #f6efe2;}
